# Besic Python Code Practice

## all the besic concepts

### various way for printing

In [1]:
print("Chetan Mugal")

Chetan Mugal

In [4]:
f_name='Chetan'
l_name="Mugal"
print("My frist name is {} and My last name is {}".format(f_name, l_name))

My frist name is Chetan and My last name is Mugal

In [5]:
print("My first name is {F} and last name is {L}".format(F=f_name, L=l_name))

My first name is Chetan and last name is Mugal

# Python Data Structures and Boolean
1. Boolean
2. Boolean & Logical operations
3. Lists
4. Sets 
5. Dictionaries
6. Tuples

# Boolean
#### Boolean values are the two constant objects False & True. They areused to represnts truth values that means other will be false.

In [5]:
str1="Chetan Mugal"
type(str1)

str

In [8]:

print(str1.isalnum()) # check if all char are numbers
print(str1.isalpha())# check if all the char in string are alphabetic
print(str1.isdigit()) # test if string contains digit
print(str1.istitle()) #test if string contains title words
print(str1.isupper()) #test upper case
print(str1.islower()) #test lower case
print(str1.isspace()) #if string contains spaces
print(str1.endswith('l')) #if string test with given alphabet
print(str1.startswith('C')) #string start with C

False
False
False
True
False
False
False
True
True

# Boolean and logical operations

In [9]:
True and True

True

In [10]:
True and False

False

In [11]:
True or False

True

In [12]:
True or True

True

In [24]:
str1="chetan"
str2='Chandrashekhar1'

In [25]:
str1.isalpha() or str2.isnum()

True

# Lists
#### It is the Data structure in Python that is mutable or changeable , ordered sequence of element . Each elemement or value that is inside of the list is called item. Just as String are defined as charecter between the quotes,lists are defined by having values beteween square brackets '[ ]'

In [28]:
list1=[]

In [29]:
type(list1)

list

In [30]:
l1=list()

In [31]:
type(l1)

list

In [4]:
l1=["java" ,"Cpp", 100, 200, 300, 205]

In [5]:
type(l1)

list

In [6]:
len(l1)

6

### Append is used to add elements in list at last postion

In [7]:
l1.append("Python")

In [41]:
l1

['java', 'Data Structure', 'Cpp', 100, 200, 300, 205, 'Python']

### Insert is used to enter element in the specific location

In [9]:
l1.insert(2,"Data Structure")

In [10]:
l1

['java', 'Cpp', 'Data Structure', 100, 200, 300, 205, 'Python']

In [19]:
l1[7]

'Python'

In [23]:
l1[1:8]

['Cpp', 'Data Structure', 100, 200, 300, 205, 'Python']

In [24]:
l1.append(["Hellow", "Amravati"])

In [25]:
l1

['java',
 'Cpp',
 'Data Structure',
 100,
 200,
 300,
 205,
 'Python',
 ['Hellow', 'Amravati']]

In [26]:
l2=[1,2,3,4,5]

In [28]:
l2.append([6,7])

In [29]:
l2

[1, 2, 3, 4, 5, [6, 7]]

### Extend Methods is used to generate list in sequential manner

In [30]:
l2.extend([8,9,10])

In [31]:
l2

[1, 2, 3, 4, 5, [6, 7], 8, 9, 10]

### Various Operations perform on list

In [32]:
l3=[10,20,30,40,50]

In [33]:
sum(l3)  #Sum of all the Elements

150

In [35]:
l3.pop() #delete the last index number in the list

50

In [36]:
l3

[10, 20, 30, 40]

In [37]:
l3.pop(1)  #delete the element in peticular index in the list

20

In [39]:
l3

[10, 30, 40]

In [41]:
list1=[1,2,3,4,5,6,1,2,1,3,1]

In [44]:
list1.count(1)   # Count is used to calculate total no. of occurance in the given elements of lis

4

In [45]:
len(list1)     # it is used to calculate length of string

11

In [46]:
min(list1)  # used to find out minimum no. in the list

1

In [47]:
max(list1) # used to calculate maximun n.in the list

6

In [53]:
list1.index(1)  # Findout the location of perticular element

0

In [54]:
list1.index(1,4,9) # here given the starting and ending index of the finding element

6

In [57]:
l3*3  # simply reapet the string values

[10, 30, 40, 10, 30, 40, 10, 30, 40]

# SETS
#### It is Unorderd collection data type that is iterable, muttable,and has no duplication elements . Pyrhon set class represents the mathematical notation of the set . this is based on a data structure known as hash table.

In [58]:
set_var= set() #defining the empty set
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [62]:
set_var ={"Red", "Green", "Blue", "Yellow"}
print(set_var)
print(type(set_var))

{'Red', 'Green', 'Blue', 'Yellow'}
<class 'set'>

In [66]:
set_var.add("Black")
print(set_var)

{'Red', 'Green', 'Yellow', 'Blue', 'Black'}

In [79]:

s1={"red","green","blue"}
s2={"red","green","blue","yellow","white"}

In [84]:
#Intersection
s2.intersection(s1)

{'blue', 'green', 'red'}

In [85]:
#Differencess
s2.difference(s1)

{'white', 'yellow'}

In [81]:
# Original value keep it
print(s1)
print(s2)

{'green', 'blue', 'red'}
{'green', 'red', 'blue', 'white', 'yellow'}

In [86]:
s2.difference_update(s1)
print(s2)

{'white', 'yellow'}

### set always skipp the repeted values just take it onces

In [65]:
set1={1,2,3,4,1,2,5}
print(set1)

{1, 2, 3, 4, 5}

# Dictionaries 
### It is the collection which is unorderd, changeable and indexed. In Python Dictionaries are written with curly brackets, and they have keys and values.

In [87]:
d1={}

In [88]:
type(d1)

dict

In [89]:
d1={10,20,30,40,50,}

In [90]:
type(d1)

set

In [95]:
mydict= {"car1":"Audi", "car2": "BMW", "car3":"Mercidies Benz"}

In [92]:
type(mydict)

dict

In [93]:
#access the individual items
mydict["car3"]

'Mercidies Benz'

In [98]:
#for loop to access hole dictonary keys 
for i in mydict:
    print(i)

car1
car2
car3

In [99]:
#dictonary values
for i in mydict.values():
    print(i)

Audi
BMW
Mercidies Benz

In [101]:
#check both keys as well as values
for i in mydict.items():
    print(i)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies Benz')

In [102]:
# additing the item in dictinary 
mydict['car4']='Tata Safari'

In [103]:
mydict

{'car1': 'Audi',
 'car2': 'BMW',
 'car3': 'Mercidies Benz',
 'car4': 'Tata Safari'}

In [104]:
mydict['car1']="SWift"

In [105]:
mydict

{'car1': 'SWift',
 'car2': 'BMW',
 'car3': 'Mercidies Benz',
 'car4': 'Tata Safari'}

# Nested Dictionary

In [111]:
car1_model={'Mercedes':1965}
car2_model={'Audi': 1970}
car3_model={'Ambassador':1975}
car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [109]:
print(car_type)

{'car1': {'Mercedes': 1965}, 'car2': {'AUdi': 1970}, 'car3': {'Ambassador': 1975}}

In [110]:
#acessing the item in dictonary
print(car_type['car1'])

{'Mercedes': 1965}

In [112]:
print(car_type['car2']['Audi'])

1970

# TUPLES
#### It is used to stored multiple items in asingle variable. A tuple is a collection objects which is orderd and unchangeable. it is denoted by placing all items inside round brackets '( )'

In [113]:
#create an empty tuples
tuple1=tuple()
type(tuple1)

tuple

In [114]:
tuple1=()

In [117]:
type(tuple1)

tuple

In [134]:
tuple1=("Om", "Jay", "jagdish","Ram","Ram")

In [127]:
tuple1[0]

'Om'

In [128]:
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('Om', 'Jay', 'jagdish', 'Ram')

In [129]:
type(tuple1)

tuple

In [135]:
tuple1.count('Ram')

2

In [137]:
tuple1.index('Ram')

3