# Function in Python

1. why Function
2. Function Defination 
3. Positional and Keyword Arguments in Functions

In [1]:
#Noramal function used
def addition(a,b) :
    return a+b

In [2]:
addition(10,15)

25

In [26]:
def even_odd(num):
    if num%2==0:
        print("the number is even")
    else:
        print("The number is odd")

In [27]:
even_odd(40)
even_odd(21)

the number is even
The number is odd

### print VS return

In [28]:
#Print 
def hello_world():
    print("Hello All Welcome in Amravati")

In [29]:
val=hello_world()

Hello All Welcome in Amravati

In [7]:
print(val)

None

In [8]:
# returns
def hello_world1():
    return "Hello All Welcome in Amravati"

In [30]:
val_ret=hello_world1()

In [31]:
print(val_ret)

Hello All Welcome in Amravati

In [32]:
def hello (name, age=30):
    print("My name is {} and age is {}".format(name,age))

In [33]:
hello('chetan')

My name is chetan and age is 30

### Positional Arguments and Keyword Arguments

In [34]:
def hello1(*args, **kwargs):
    print(args)
    print(kwargs)

In [35]:
hello1("Chetan", "Mugal", age=30, dob= 1990)

('Chetan', 'Mugal')
{'age': 30, 'dob': 1990}

In [15]:
lst=["Chetan", "Mugal"]
d_args={ 'age' : 30, 'dob' : 990}

In [37]:
hello1(lst,d_args)

(['Chetan', 'Mugal'], {'age': 30, 'dob': 990})
{}

In [38]:
hello1(*lst, **d_args)

('Chetan', 'Mugal')
{'age': 30, 'dob': 990}

In [39]:
lst3=[1,2,3,4,5,6,7,8,9]

In [40]:
def even_odd_sum(lst3):
    even_sum=0
    odd_sum=0
    for i in lst3:
        if i%2==0:
            even_sum =even_sum+i
        else:
            odd_sum =odd_sum +i
    return even_sum, odd_sum

In [41]:
even_odd_sum(lst3)

(20, 25)

# Map Function

In [21]:
def even_odd(num):
    if num%2==0:
        return 'The number {} is even'.format(num)
    else:
        return "The number {} is odd".format(num)

In [42]:
even_odd(33)

The number is odd

In [74]:
lst4=[1,5,6,7,9,4,5,56,87]

In [75]:
list(map(even_odd,lst4))

The number is odd
The number is odd
the number is even
The number is odd
The number is odd
the number is even
The number is odd
the number is even
The number is odd

[None, None, None, None, None, None, None, None, None]

# Filter Function

In [54]:
def even(num):
    if num%2==0:
        return True

In [55]:
lst5=[1,2,3,4,5,6,8,9]

In [56]:
filter(even,lst5)

In [57]:
list(filter(even,lst5))

[2, 4, 6, 8]

In [58]:
list(filter(lambda num:num%2==0,lst5))

[2, 4, 6, 8]

In [59]:
list(map(lambda num :num%2==0,lst5))

[False, True, False, True, False, True, True, False]



# Lambda Function

### anonymous function that function with no name

In [60]:
#using Lambda function
lambda a,b:a+b

In [61]:
add=lambda a,b:a+b

In [62]:
add(25,30)

55

In [63]:
def even(num):
    if num%2==0:
        return True

In [64]:
even(32)

True

In [65]:
even1= lambda a:a%2==0

In [66]:
even1(30)

True

In [69]:
def add(x,y,z):
    return x+y+z

In [70]:
add(9,9,2)

20

In [71]:
add1= lambda x,y,z : x+y+z

In [72]:
add1(2,8,3)

13

In [73]:
list(filter(lambda num:num%2==0,lst4))

[6, 4, 56, 28]

# List  Comprehensions
### List Comprehensions provide a concise way to create lists. It consist of brackets containing an expression followed by a FOR clause, then zero or more FOR or IF clause. The Expression can be anything, meaning you can put in all kinds of objects in the lists.

In [76]:
list1=[]
def lst_square(lst):
    for i in lst:
        list1.append(i*i)
    return list1

In [77]:
lst_square([1,2,3,4,5,6,7,8,9])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
lst6=[1,2,3,4,5,6,7,8,9]

In [80]:
l1=[i*i for i in lst6]

In [81]:
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
l2=[i*i for i in lst6 if i%2==0 ]

In [83]:
print(l2)

[4, 16, 36, 64]

In [86]:
l3=[i*i for i in lst6 if i%2!=0 ]

In [87]:
print(l3)

[1, 9, 25, 49, 81]